
main { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1564510714747-69c3bc1fab41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80" alt="image of habit tracking journal');
    background-size: cover;
}

#main-heading {
    color: rgb(110, 50, 206);
    text-shadow: 3px 10px 10px rgb(85, 84, 84);
    display: flex;
	font-size: 2em;
	justify-content: center;
    padding: 60px 0 100px;
}


#login-form{
    background-color: rgba(214, 218, 214, .1);
	position: relative;
    overflow: hidden;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 6px 22px 48px #000;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

#check {
	display: none;
}



input{
    border: 1px solid rgba(133, 133, 133, 0.5);
    box-shadow: 3px 10px 10px rgb(85, 84, 84);
	border-radius: 8px;
    background: white;
	width: 55%;
	height: 24px;
	justify-content: center;
	display: flex;
	margin: 18px auto;
	padding: 10px;
}

label{
	color: rgb(110, 50, 206);
    text-shadow: 3px 10px 10px rgb(85, 84, 84);
    display: flex;
	margin: 60px;
	font-size: 3.4em;
	justify-content: center;
	cursor: pointer;
	transition: 1s ease-in-out;
}

button{
	width: 60%;
	height: 60px;
	margin: 30px auto 10px;
	justify-content: center;
	display: block;
	color: #fff;
	background: #249dc2;
	font-size: 2em;
	font-weight: bold;
    text-shadow: 2px 2px 2px black;
	outline: none;
    border: none;
    box-shadow: 3px 10px 10px rgb(85, 84, 84);
	border-radius: 8px;
	transition: .4s ease-in;
	cursor: pointer;
}

button:hover{
	background: rgb(110, 50, 206);
}

.button-div{
    padding-top: 5px;
}

.login{
	height: 450px;
	background: linear-gradient(to left, #3096c5, #5e56b9, #7979cc);
	border-radius: 8px;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
    padding-top: 5px;
    margin-bottom: 30px;
	color: white;
	transform: scale(.6);
}

#check:checked ~ .login{
	transform: translateY(-500px);
}
#check:checked ~ .login label{
	transform: scale(1);
    padding: 30px 0;	
}
#check:checked ~ .signup label{
	transform: scale(.6);
    margin-top: 10px;	
}
